<!-- <p>login works!</p> -->

<div class="login">
  <div class="form">
    <h1>Employee login</h1>
    <form class="login-form" action="#">
      <div>
        <table>
          <tr>
            <td>
              <label><b>Email</b></label>
            </td>
            <td>
              <input type="email" name="email" id="email" [(ngModel)] = "loginObj.email" required />
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Password</b></label>
            </td>
            <td>
              <input type="password" name="Password" id="password" [(ngModel)] = "loginObj.password" required />
            </td>
          </tr>
        </table>
      </div>
    </form>
    <button class="login-btn" (click)="login()">Login</button> <button class="signup-btn" (click)="signup()">Sign Up</button>
  </div>
</div>
