body{
    background-image: url(https://www.xmple.com/wallpaper/black-purple-gradient-linear-1920x1080-c2-000000-9400d3-a-285-f-14.svg);
    margin: 0%;
    padding: 0%;
   
}
.container{
    margin: 1cm;
    box-shadow: 0px 0px 10px 10px;
       background-image: url(https://www.xmple.com/wallpaper/black-purple-gradient-linear-1920x1080-c2-000000-9400d3-a-285-f-14.svg);
        padding: 15px;
        border-radius: 40px;
        display: inline-block;
        margin-left: 35%;
    }
    


h1{
font-size: 80px;
color:white;
margin-top: 0%;
margin-bottom: 0%;

}
input{
   
    border-radius: 21px;
    border: 5px solid white;
    font-size:34px;
    height: 65px;
    width: 380px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: white;
    width: 80px;
    height: 70px;
    margin: 6px;
    cursor: pointer;
    
}
button:hover{
    background-color: black;
     color: antiquewhite;
     transition: 0.2s;
}

.imp:hover{
    background-color: green;

}
.impo:hover{
    background-color: red;
}

