.mani {
    float: right;
    padding: 14px 16px;

}

.mani a {
    float: right;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
}

.mani a:hover {
    font-size: 27px;
    color: rgb(0, 193, 32);
}

body {
    background-image: url('https://cdn.wallpapersafari.com/44/57/Ke7kmZ.jpg');
    background-repeat: no-repeat;


}

.smallimg {
    padding: 14px 36px;
}

.para {

    font-family: 'Sofia';
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    font-size: 55px;
    color: rgb(48, 10, 200)
}